body {
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
    width: 90%;
    height: 700px;
    margin: 5% auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;

}

header {

    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: -1;

    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 40px;
    border: 4px solid rgb(141, 33, 33);
    background-image: linear-gradient(to bottom, #ff0000, #2f75f7);
    border-radius: 10px;
    padding: 15px;
    transition: 1s;

}

.logo:hover {
    border: 4px solid rgb(23, 56, 201);
    box-shadow: 1px 1px 10px 10px rgb(23, 56, 201);
}

.msj {

    grid-column: 1/3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;



}

.adv {
    color: white;
    font-size: 17px;
    padding: 2px;
}

.mensaje {
    width: 100%;
    height: 100px;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.be {
    color: white;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: 100ms;
    font-size: 18px;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;

}

.be:hover {
    box-shadow: 1px 1px 5px 4px greenyellow;
    font-size: 20px;
}

.be:active {
    background-color: greenyellow;
}

.bd {
    color: rgb(0, 110, 255);
    width: 328px;
    height: 67px;
    background: #ced3da;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: 100ms;
    font-size: 18px;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}

.bd:hover {
    box-shadow: 1px 1px 5px 4px greenyellow;
    font-size: 20px;
}

.bd:active {
    background-color: greenyellow;
}

.resp {


    grid-column: 3/4;
    grid-row: 2/4;

}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(238, 238, 238);
}


.copiar {

    grid-row: 2/4;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;

}

.bc {
    color: rgb(255, 0, 43);
    font-size: 16px;
    width: 200px;
    height: 40px;
    background: #e4ce06;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: 100ms;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}

.bc:hover {
    box-shadow: 1px 1px 5px 4px rgb(226, 75, 5);
    font-size: 20px;
}

.bc:active {
    background-color: rgb(226, 75, 5);
}


.encriptar {
    grid-column: 1/2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.desencriptar {
    grid-column: 2/3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

footer {
    border: 1px solid rgb(233, 25, 25);
    border-radius: 5px;
    height: 150px;
    color: white;
    background-color: grey;
    grid-column: 1/4;
    grid-row: 4/5;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to bottom, #ff0000, #00c3ff)
}

footer h3,
footer p {
    padding: 20px;
}

/* Estilos para dispositivos con una resolución menor o igual a 768px */
@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        /* Cambiar a una sola columna */
        grid-template-rows: auto auto auto auto auto auto auto;
        /* Agregar una fila adicional */
    }

    .msj {
        grid-column: 1/2;
        /* Ocupar toda la columna */
    }

    .encriptar {

        grid-column: 1/2;
        grid-row: 3/4;
        /* Ocupar toda la columna */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .desencriptar {
        grid-column: 1/2;
        grid-row: 4/5;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .resp {
        grid-column: 1/2;
        /* Ocupar toda la columna */
        grid-row: 5/6;
        /* Cambiar a la tercera fila */
    }

    .copiar {
        grid-column: 1/2;
        /* Ocupar toda la columna */
        grid-row: 5/6;
        /* Cambiar a la cuarta fila */
    }

    footer {
        grid-column: 1/2;
        /* Ocupar toda la columna */
        grid-row: 7/8;
        /* Cambiar a la quinta fila */
    }
}

/* Estilos para dispositivos con una resolución menor o igual a 480px */
@media screen and (max-width: 480px) {
    .contenedor {
        margin: 2% auto;
        /* Reducir el margen superior e inferior */
        gap: 10px;
        /* Reducir el espacio entre elementos */
    }

    .logo {
        width: 30px;
        /* Reducir el tamaño del logo */
        padding: 10px;
        /* Reducir el espacio interno */
    }

    .mensaje {
        font-size: 16px;
        /* Reducir el tamaño de fuente del campo de entrada de texto */
    }

    .be,
    .bd {
        grid-row: 2/3;
    }

    .be,
    .bd,
    .bc {
        width: 250px;
        /* Reducir el ancho de los botones */
        height: 50px;
        /* Reducir la altura de los botones */
        font-size: 16px;
        /* Reducir el tamaño de fuente de los botones */
    }

    textarea {
        font-size: 16px;
        /* Reducir el tamaño de fuente del área de respuesta */
    }

    footer {
        font-size: 16px;
        /* Reducir el tamaño de fuente del pie de página */
    }
}